<div id="template_viewer">
  <zoomer image-url="{{$ctrl.template_image.zoomer_url}}"
          cursor="$ctrl.template_cursor"
          on-cursor-update="$ctrl.updateTemplateCursor(cursor)"
          display-pixel-size="$ctrl.template_pixel_size"
          on-display-pixel-size-update="$ctrl.templatePixelSizeUpdated(pixel_size)"
          landmarks="$ctrl.templateLandmarks"
          />

  <div class="control_panel"> <!-- TODO decide in which CSS this class should go -->
    <label for="template">Template:</label>
    <div class="input-group input-group-sm">
      <input class="form-control" type="text" readonly="readonly"
             id="template" ng-model="$ctrl.template_image.zoomer_url" />
      <div class="input-group-btn" uib-dropdown>
        <button type="button" class="btn btn-default" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
          <li role="menuitem">
            <a target="_blank"
               href="{{$ctrl.neuroglancer_instance_url}}#!%7B'layers':%7B'template':%7B'type':'image'_'source':'{{$ctrl.template_image.neuroglancer_url}}'%7D%7D%7D">
              Show in Neuroglancer
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li role="menuitem">
            <a href="#" ng-click="$event.preventDefault(); $ctrl.select_template()">Select…</a>
          </li>
        </ul>
      </div>
    </div>

    <hr/>
    <small>Template cursor: <coordinates coords="$ctrl.template_cursor"/></small><br/>
    <small>Incoming cursor: <coordinates coords="$ctrl.incoming_cursor"/></small>
    <hr/>
    <h4>Landmark pairs</h4>
    <landmark-list on-update="$ctrl.updateLandmarkList(landmark_pairs)"
                   incoming-cursor="$ctrl.incoming_cursor"
                   template-cursor="$ctrl.template_cursor"
                   go-to-landmark-pair="$ctrl.goToLandmarkPair(pair)"/>
  </div>
</div>
<div id="incoming_viewer">
  <zoomer image-url="{{$ctrl.incoming_image.zoomer_url}}"
          cursor="$ctrl.incoming_cursor"
          on-cursor-update="$ctrl.updateIncomingCursor(cursor)"
          display-pixel-size="$ctrl.incoming_pixel_size"
          on-display-pixel-size-update="$ctrl.incomingPixelSizeUpdated(pixel_size)"
          landmarks="$ctrl.incomingLandmarks"
          />

  <div class="control_panel">
    <label for="incoming">Incoming image:</label>
    <div class="input-group input-group-sm">
      <input class="form-control" type="text" readonly="readonly"
             id="incoming" ng-model="$ctrl.incoming_image.zoomer_url" />
      <div class="input-group-btn" uib-dropdown>
        <button type="button" class="btn btn-default" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
          <li role="menuitem">
            <a target="_blank"
               href="{{$ctrl.neuroglancer_instance_url}}#!%7B'layers':%7B'incoming':%7B'type':'image'_'source':'{{$ctrl.incoming_image.neuroglancer_url}}'%7D%7D%7D">
              Show in Neuroglancer
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li role="menuitem">
            <a href="#" ng-click="$event.preventDefault(); $ctrl.select_incoming()">Select…</a>
          </li>
        </ul>
      </div>
    </div>
    <label>
      <input type="checkbox"
             ng-model="$ctrl.synchronize_zoom"
             ng-change="$ctrl.zoomSynchronizationToggled()"/>
      Synchronize zoom
    </label>
    <!-- TODO: un-hide when this is functional
    <!-- TODO insert here a reference to the incoming image's metadata
         (e.g. link to dataset page) ->
    <label for="incoming_voxel_size"> Voxel size:</label>
    <div class="input-group input-group-sm">
      <input class="form-control" type="text" readonly="readonly"/>
      <span class="input-group-btn">
        <button class="btn btn-default">
          Edit…
        </button>
      </span>
    </div>
    <hr/>
    -->
    <h4>Registration control</h4>
    <div class="form-inline">
      <div class="form-group">
        <label>
          Transformation type
          <select ng-model="$ctrl.transformation_type" class="form-control">
            <!-- TODO un-hide transformation types when they are functional -->
            <!--<option value="translation">Translation</option>-->
            <option value="rigid">Rigid</option>
            <option value="similarity">Similarity</option>
            <option value="affine">Affine</option>
          </select>
        </label>
      </div>
      <button type="button" ng-click="$ctrl.performRegistration()"
              class="btn btn-primary btn-block"
              ng-disabled="!$ctrl.readyToTransform()">
        Compute transformation
      </button>
    </div>
    <hr/>
    <div class="bg-danger" ng-show="$ctrl.registration_result.error">
      <p>Error: {{$ctrl.registration_result.error}}</p>
    </div>
    <div ng-show="$ctrl.transformationAvailable()"
         ng-class="$ctrl.resultUpToDate() ? '' : 'text-muted'">
      <p>Estimated transformation matrix:</p>
      <transformation-matrix matrix="$ctrl.registration_result.transformation_matrix"/>
      <p>Determinant: {{$ctrl.matrix_det($ctrl.registration_result.transformation_matrix) | number: 4}}</p>
      <p>RMSE: {{$ctrl.registration_result.RMSE | number: 4}} mm</p>
    </div>
    <p>
      <label>
        <input ng-model="$ctrl.synchronize_cursors" type="checkbox"
               ng-disabled="!$ctrl.transformationAvailable()"/>
        Synchronize cursors
      </label>
    </p>
    <a class="btn btn-primary" ng-disabled="!$ctrl.transformationAvailable()"
       target="_blank"
       href="{{$ctrl.neuroglancer_instance_url}}#!%7B'layers':%7B'template':%7B'type':'image'_'source':'{{$ctrl.template_image.neuroglancer_url}}'%7D_'incoming':%7B'type':'image'_'source':'{{$ctrl.incoming_image.neuroglancer_url}}'_'shader':'void%20main()%20%7B%5Cn%20%20emitRGB(vec3(0.,%20toNormalized(getDataValue()),%200.));%5Cn%7D%5Cn'_'transform':{{$ctrl.neuroglancer_transform_urljson()}}%7D%7D_'navigation':%7B'pose':%7B'position':%7B'spatialCoordinates':{{$ctrl.template_barycentre_urljson()}}%7D%7D%7D%7D"
       >
      Display result
    </a>
  </div>
</div>
