<div id="template_viewer">
  <zoomer cursor="$ctrl.template_cursor"
          on-cursor-update="$ctrl.updateTemplateCursor(cursor);"/>
  <div class="control_panel"> <!-- TODO decide in which CSS this class should go -->
    <p>Template: {{$ctrl.template_description}}</p>
    <hr/>
    <p>Template image cursor: <coordinates coords="$ctrl.template_cursor"/></p>
    <p>Incoming image cursor: <coordinates coords="$ctrl.incoming_cursor"/></p>
    <hr/>
    <h4>Landmark pairs</h4>
    <landmark-list on-update="$ctrl.landmark_pairs = landmark_pairs"
                   incoming-cursor="$ctrl.incoming_cursor"
                   template-cursor="$ctrl.template_cursor"
                   go-to-landmark-pair="$ctrl.goToLandmarkPair(pair)"/>
  </div>
</div>
<div id="incoming_viewer">
  <zoomer cursor="$ctrl.incoming_cursor"
          on-cursor-update="$ctrl.updateIncomingCursor(cursor);"/>
  <div class="control_panel">
    <h4>Incoming image</h4>
    <!-- TODO insert here a reference to the incoming image's metadata
         (e.g. link to dataset page) -->
    <label for="incoming_voxel_size"> Voxel size:</label>
    <div class="input-group input-group-sm">
      <input class="form-control" type="text" readonly="readonly"/>
      <span class="input-group-btn">
        <button class="btn btn-default">
          Edit…
        </button>
      </span>
    </div>
    <hr/>
    <h4>Registration control</h4>
    <div class="form-inline">
      <div class="form-group">
        <label>
          Transformation type
          <select ng-model="$ctrl.transformation_type" class="form-control">
            <option value="translation">Translation</option>
            <option value="rigid">Rigid</option>
            <option value="similarity">Similarity</option>
            <option value="affine">Affine</option>
          </select>
        </label>
      </div>
      <button type="button" ng-click="$ctrl.performRegistration()"
              class="btn btn-primary btn-block"
              ng-disabled="!$ctrl.readyToTransform()">
        Compute transformation
      </button>
    </div>
    <hr/>
    <div class="bg-danger" ng-show="$ctrl.registration_result.error">
      <p>Error: {{$ctrl.registration_result.error}}</p>
    </div>
    <div ng-show="$ctrl.transformationAvailable()">
      <p>Estimated transformation matrix</p>
      <transformation-matrix matrix="$ctrl.registration_result.transformation_matrix"/>
    </div>
    <p>
      <label>
        <input ng-model="$ctrl.synchronize_cursors" type="checkbox"
               ng-disabled="!$ctrl.transformationAvailable()"/>
        Synchronize cursors
      </label>
    </p>
    <button class="btn btn-primary" ng-disabled="!$ctrl.transformationAvailable()">
      Display result
    </button>
  </div>
</div>
