<div id="template_viewer">
  <zoomer cursor="$ctrl.template_cursor"/>
  <div class="control_panel"> <!-- TODO decide in which CSS this class should go -->
    <p>Template: {{$ctrl.template_description}}</p>
    <hr/>
    <p>Template image cursor: {{$ctrl.template_cursor}}</p>
    <p>Incoming image cursor: {{$ctrl.incoming_cursor}}</p>
    <hr/>
    <h4>Landmark pairs</h4>
    <landmark-list on-update="$ctrl.landmark_pairs = landmark_pairs"
                   incoming-cursor="$ctrl.incoming_cursor"
                   template-cursor="$ctrl.template_cursor"
                   go-to-landmark-pair="$ctrl.goToLandmarkPair(pair)"/>
  </div>
</div>
<div id="incoming_viewer">
  <div id="incoming_view_coronal" class="coronal">
    <p class="placeholder">Coronal view of the incoming volume</p>
    <viewer-3d-mockup cursor="$ctrl.incoming_cursor"/>
  </div>
  <div id="incoming_view_sagittal" class="sagittal">
    <p class="placeholder">Sagittal view of the incoming volume</p>
    <p>{{$ctrl.landmark_pairs | json: 0 }}</p>
  </div>
  <div id="incoming_view_axial" class="axial">
    <p class="placeholder">Axial view of the incoming volume</p>
  </div>
  <div class="control_panel">
    <h4>Incoming image</h4>
    <!-- TODO insert here a reference to the incoming image's metadata
         (e.g. link to dataset page) -->
    <label for="incoming_voxel_size"> Voxel size:</label>
    <div class="input-group input-group-sm">
      <input class="form-control" type="text" readonly="readonly"/>
      <span class="input-group-btn">
        <button class="btn btn-default">
          Edit…
        </button>
      </span>
    </div>
    <hr/>
    <h4>Registration control</h4>
    <div class="form-inline">
      <div class="form-group">
        <label>
          Transformation type
          <select ng-model="$ctrl.transformation_type" class="form-control">
            <option value="rigid">Rigid</option>
            <option value="rigid+scaling">Rigid + Scaling</option>
            <option value="affine">Affine</option>
          </select>
        </label>
      </div>
      <button ng-click="$ctrl.performRegistration()"
              class="btn btn-primary btn-block"
              ng-disabled="!$ctrl.readyToTransform()">
        Compute transformation
      </button>
      <p>{{$ctrl.current_alignment_task}}</p>
    </div>
    <hr/>
    <div ng-show="$ctrl.transformationAvailable()">
      <p>Estimated transformation matrix</p>
      <table>
        <tr><td>1</td><td>0</td><td>0</td><td>0</td></tr>
        <tr><td>0</td><td>1</td><td>0</td><td>0</td></tr>
        <tr><td>0</td><td>0</td><td>1</td><td>0</td></tr>
        <tr><td>0</td><td>0</td><td>0</td><td>1</td></tr>
      </table>
    </div>
    <p>
      Display referential:
      <label>
        <input ng-model="$ctrl.incoming_display_referential"
               type="radio" value="native"/>
        Native
      </label>
      <label>
        <input ng-model="$ctrl.incoming_display_referential"
               type="radio" value="transformed"
               ng-disabled="!$ctrl.transformationAvailable()"/>
        Transformed
      </label>
    </p>
    <label>
      <input ng-model="$ctrl.synchronize_cursors" type="checkbox"
             ng-disabled="!$ctrl.transformationAvailable()"/>
      Synchronize cursors
    </label>
    <button class="btn btn-default" ng-disabled="!$ctrl.transformationAvailable()">
      Download
    </button>
    <button class="btn btn-warning" ng-disabled="!$ctrl.transformationAvailable()">
      Save to KnowledgeGraph
    </button>
  </div>
</div>
