<table class="table table-condensed table-hover">
  <tbody>
    <tr ng-repeat="pair in $ctrl.landmark_pairs">
      <td>{{pair.label}}</td>
      <td>{{pair.target_point}}</td>
      <td>←</td>
      <td>{{pair.source_point}}</td>
      <td>
        <button title="Show" class="btn btn-xs btn-default"
                ng-click="$ctrl.onShow({pair: pair})">
          <span class="glyphicon glyphicon-eye-open"></span>
        </button>
        <button title="Reset" class="btn btn-xs btn-default"
                ng-click="$ctrl.onReset({pair: pair})">
          <span class="glyphicon glyphicon-move"></span>
        </button>
        <button title="Delete" class="btn btn-xs btn-danger"
                ng-click="$ctrl.onDelete({pair: pair})">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
