canvas {
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: crosshair;
}

div.top_left {
    position: absolute;
    height: 50%;
    top: 0;
    bottom: 50%;
    width: 50%;
    left: 0;
    right: 50%;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 1px 1px 0;
}

div.top_right {
    position: absolute;
    height: 50%;
    top: 0;
    bottom: 50%;
    width: 50%;
    left: 50%;
    right: 100%;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 0 1px 1px;
}

div.bottom_left {
    position: absolute;
    height: 50%;
    top: 50%;
    bottom: 100%;
    width: 50%;
    left: 0;
    right: 50%;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 1px 0 0;
}

div.bottom_right {
    position: absolute;
    height: 50%;
    top: 50%;
    bottom: 100%;
    width: 50%;
    left: 50%;
    right: 100%;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 1px 0 0;
}

canvas.top_left {
    width: 100%;
    height: 100%;
}

canvas.top_right {
    width: 100%;
    height: 100%;
}

canvas.bottom_left {
    width: 100%;
    height: 100%;
}

div.overlay {
    position: absolute;
    top: 0%;
    bottom: 100%;
    left: 0%;
    right: 100%;
    width: 100%;
    height: 100%;
    /*z-index: 10;*/
    pointer-events: none;
}

.overlay-btn {
    pointer-events: auto;
}

.axis_label_top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0.5ex auto;
}
.axis_label_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0.5ex auto;
}
.axis_label_left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    margin: 0 0.5ex;
}
.axis_label_right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    margin: 0 0.5ex;
}
.axis_label {
    padding: 0.2ex;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    background-color: #cccccc99;
    /*border: 1px solid #444;*/
}

.orientation-buttons {
    padding: 0.5ex;
}
.top_left .orientation-buttons{
    position: absolute;
    bottom: 0;
    right: 0;
}
.top_right .orientation-buttons{
    position: absolute;
    bottom: 0;
    left: 0;
}
.bottom_left .orientation-buttons{
    position: absolute;
    top: 0;
    right: 0;
}

div.control_panel {
    position: absolute;
    height: 50%;
    top: 50%;
    bottom: 100%;
    width: 50%;
    left: 50%;
    right: 100%;
    padding: 1ex;
    overflow: auto; /* scroll bars if contents overflow */
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 0 0 1px;
}
