<table class="table table-condensed table-hover">
  <tbody>
    <tr ng-repeat="pair in $ctrl.landmark_pairs">
      <td><coordinates coords="pair.target_point"/></td>
      <td>←</td>
      <td><coordinates coords="pair.source_point"/></td>
      <td>
        <button title="Show" class="btn btn-xs btn-default"
                ng-click="$ctrl.goToLandmarkPair({pair: pair})">
          <span class="glyphicon glyphicon-eye-open"></span>
        </button>
        <button title="Reset" class="btn btn-xs btn-default"
                ng-click="$ctrl.resetLandmarkPair(pair)">
          <span class="glyphicon glyphicon-move"></span>
        </button>
        <button title="Delete" class="btn btn-xs btn-danger"
                ng-click="$ctrl.deleteLandmarkPair(pair)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<p class="text-center">
  <button id="new_landmark" class="btn btn-primary"
          ng-click="$ctrl.addLandmarkPair()">
    Add landmark pair
  </button>
</p>
<!-- TODO: un-hide when this is functional
<p class="text-center">
  <button id="load_landmarks" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-open"></span> Load…
  </button>
  <button id="save_landmarks" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-save"></span> Save…
  </button>
</p>
-->
