<table class="landmark-table table table-condensed">
  <colgroup>
    <col class="landmark-active"/>
    <col class="landmark-colour"/>
    <col class="landmark-name"/>
    <col class="landmark-controls"/>
  </colgroup>
  <thead class="sr-only">
    <th scope="col">Active</th>
    <th scope="col">Colour</th>
    <th scope="col">Name</th>
    <th scope="col">Controls</th>
  </thead>
  <tbody>
    <tr ng-repeat="pair in $ctrl.landmark_pairs"
        ng-class="$ctrl.pairIsActive(pair) ? 'active' : ''">
      <td>
        <input type="checkbox" class="checkbox input-sm"
               ng-model="pair.active"/>
      </td>
      <td>
        <span class="glyphicon glyphicon-remove"
              style="color: {{pair.colour}}"
              aria-hidden="true"></span>
      </td>
      <td>
        <input type="text" class="form-control input-sm"
               ng-model="pair.name"/>
      </td>
      <!--<td>
        <small>
          <coordinates coords="pair.target_point"/><br/>
          ←
          <coordinates coords="pair.source_point"/>
        </small>
      </td>-->
      <td>
        <button title="Show" class="btn btn-xs btn-default"
                ng-if="$ctrl.goToLandmarkPair"
                ng-click="$ctrl.goToLandmarkPair({pair: pair})">
          <span class="glyphicon glyphicon-eye-open"></span>
        </button>
        <button title="Reset" class="btn btn-xs btn-default"
                ng-click="$ctrl.resetLandmarkPair(pair)">
          <span class="glyphicon glyphicon-move"></span>
        </button>
        <button title="Delete" class="btn btn-xs btn-danger"
                ng-click="$ctrl.deleteLandmarkPair(pair)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<p class="text-center">
  <button id="new_landmark" class="btn btn-primary"
          ng-click="$ctrl.addLandmarkPair()">
    Add landmark pair
  </button>
</p>
<!-- TODO: un-hide when this is functional
<p class="text-center">
  <button id="load_landmarks" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-open"></span> Load…
  </button>
  <button id="save_landmarks" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-save"></span> Save…
  </button>
</p>
-->
