body {
    overflow: hidden;  /* no scroll bar */
}

div#template_viewer {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 100%;
    width: 50%;
    left: 0;
    right: 50%;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: #777;
    border-width: 0 1px 0 0;
}

div#incoming_viewer {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 100%;
    width: 50%;
    left: 50%;
    right: 100%;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: #777;
    border-width: 0 0 0 1px;
}
